/* TODO
seperate into seperate files for each views
resets and the standard stuff
*/

html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
    background-color: ivory;
    margin: auto;
    padding: 2rem;
}


main {
    justify-content: center;
    margin: auto;
}

/* */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
}

h1, h3 {
    color: plum;
}

h2, h4 {
    color:  mediumslateblue;
}

/* misc styling */

.centre {
    margin-left: auto;
    margin-right: auto;
}

.post {
    border: 2px solid cornflowerblue;
    margin: 2rem auto;
    padding: 0 2rem;
    width: 60%;
    background-color: aliceblue;
}

.explore-section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
}

.sort-section,
.search-section,
.back-section {
    flex: 1;
    height: auto;
}

.sort-categories {
    margin: auto;
}


.back-section {
    flex: 1;
    text-align: center;
    padding: 1rem;

}

.display {
    margin: 2rem auto;
    width: 80%;
}

/* table */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    letter-spacing: 2px;
}

.num {
    text-align: center;
    width: 5%;
}

/* zebra striping */

tbody tr:nth-child(odd) {
    background-color: lightskyblue;
  }
  
tbody tr:nth-child(even) {
    background-color: aliceblue;
}

/* links */

table a {
    color: black;
}

h1 a, h3 a {
    color: plum;;
}

table a:link, h1 a:link, h3 a:link  {
    text-decoration: none;
}

a:visited {
}

a:focus {
}

table a:hover {
    text-decoration: underline;
    color: mediumslateblue;
}

h1 a:hover, h3 a:hover {
    color: mediumslateblue;
}


a:active {
}


/* form */
textarea {
  field-sizing: content;
  width: 100%;
  margin: 1rem 0;
}
