/* variables */

:root {
    --black: #000000;
    --white: ivory;
    --pink: plum;
    --purple: mediumslateblue;
    --dark-blue: cornflowerblue;
    --blue: lightskyblue;
    --light-blue: aliceblue;
}

/* reset/inheritance */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

/* global */

html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    background-color: var(--white);
    margin: auto;
    padding: 2rem;
    max-width: 90%;
}

/* header */

header {
    border-bottom: 2px solid var(--blue);
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

header h1 {
    padding: 1rem 0rem;
}

.title {                        /* topics/messages sub-title */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
}

/* headings */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--pink);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--pink);
    margin-bottom: 1rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--purple);
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--purple);
}

h1 a, h3 a {
    color: var(--pink);
}

/* anchors */

a, a:link, a:visited, a:active, a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--purple);
}

/* table */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td {
    padding: 10px;
    letter-spacing: 2px;
}

.num {
    text-align: center;
    width: 5%;
}

tbody tr:nth-child(odd) {                   /* zebra striping */
    background-color: var(--blue);
  }
  
tbody tr:nth-child(even) {
    background-color: var(--light-blue);
}

/* forms */

form label {
    display: block;
}

input, select, button, textarea {
  padding: 0.25em;
  margin: 0.25rem 0.25rem 0.25rem 0;
  border-radius: 0;
}

input:focus, select:focus, button:focus, textarea:focus {
  outline: 0.2rem solid var(--blue);
}

.post {
    border: 2px solid var(--purple);
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    background-color: var(--light-blue);
}

.post h2 {
    color:  var(--purple);
}

.post button {
    padding: 0.25rem;
    margin: 0.5rem 0.5rem 0 0;
}

textarea {
  field-sizing: content;
}

/* footer */

footer {                                    /* the header, reflected */
    border-top: 2px solid var(--blue);
    padding: 1rem 0rem;
    margin-top: 1rem;
}

footer p {
    text-align: center;
}
